/* style.css */

/* Tampilan Peta */
#map {
    height: 100vh; /* Atur tinggi peta menjadi 100% dari tinggi viewport */
    width: 100%;   /* Lebar peta memenuhi container */
    margin: 0;     /* Hilangkan margin untuk peta */
    padding: 0;    /* Hilangkan padding untuk peta */
}

/* Popup Marker */
.leaflet-popup-content {
    font-size: 14px; /* Ukuran font konten popup */
}

/* Notifikasi Bahaya */
.hazard-notification {
  background-color: yellow;
  color: black;
  padding: 20px; 
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; 
  display: flex;
  align-items: center;
}

.hazard-icon {
  font-size: 30px; 
  margin-right: 10px; 
}

.hazard-text {
  font-size: 18px; 
}
